<br>
</br>
<br>
</br>
<div class="container panel panel-default">
	<h1 class="panel-heading">New article</h1>
	 
	<%= render 'form' %>
	 
	<%= link_to 'Back', articles_path, class: "btn btn-primary glyphicon glyphicon-arrow-left" %>
	<br>
	</br>
</div>