<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog">
	  <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Sign up</h2>
				<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="7MHSNUPwq1ummFd8ylVc9NUtygVBOnuHvDRWoaMwI+D2cjvFjE0tLbmmvsZ2W9hcfhIeR3Y7DXt+lj5In7xo/A==" />
			    <div class="field">
				    <label for="user_email">Email</label><br />
				    <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" />
				  </div>
				  <div class="field">
				    <label for="user_password">Password</label>
				    <em>(8 characters minimum)</em>
				    <br />
				    <input autocomplete="off" type="password" name="user[password]" id="user_password" />
				  </div>
				  <div class="field">
				    <label for="user_password_confirmation">Password confirmation</label><br />
				    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
				  </div>
				  <div class="actions">
				    <input type="submit" name="commit" value="Sign up" />
				  </div>
				</form>
				<a href="/users/sign_in" type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-dismiss="modal">Log in</a><br />
			</div>
		</div>
	</div>
</div>
