<h1>Hello Rails!</h1>
<%= link_to ' Show all articles', articles_path, class: "btn btn-primary glyphicon glyphicon-th-list" %>

<%= render 'modal' %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Login
</button>